<%- include('./partials/header') %>

        <div id="wrapper">
            <%- include('./partials/nav') %>


            <div class="container">
                <div class="row  border rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                    <div class="col d-flex" style="flex-flow: column;">
                        <div class="fs-3 text-center mb-5 mt-sm-3"> About Us</div>
                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            
                            
                            <div class="col-12 m-3 fs-3">
                                Our Mission
                            </div>
                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                Our mission is to revolutionize the way that mess management is handled in institutes. By offering a comprehensive, easy-to-use central mess management
                                system, we aim to streamline the process and improve the overall experience for both those in charge of
                                the operation and those who rely on it for sustenance.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/mission.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>


                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Story
                            </div>
                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                Inspired by the potential to improve campus life, we set out to create a smarter 
                                mess management system. Late nights and countless brainstorming 
                                sessions led to the development of a user-friendly system that 
                                streamlined meal planning and billing for students and staff alike. What 
                                started as a small project for our college soon grew into a versatile 
                                solution used across campuses and centralized facilities. Today, our 
                                system is a trusted tool, making mess management simple, efficient, 
                                and hassle-free.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/stories.jfif" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Service
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                We created a comprehensive and easy-to-use mess management system to 
                                help manage meals for large groups. Our platform includes features 
                                like meal planning, ordering, and inventory management, making everything 
                                simpler for users.
                                With our system, users can easily view menus, edit their profiles, manage 
                                payments, and more—all in one place. It's customizable to fit the unique 
                                needs of each client, ensuring a smooth and stress-free experience.
                                We are dedicated to providing excellent service and support to every 
                                client. Our goal is to save time, money, and energy while making sure 
                                everyone is well-fed and happy.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/service.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Social Proof
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                We are proud to have received positive feedback and support from our clients and users. Our
                                central mess management system has been praised for its intuitive design, ease of use, and
                                effectiveness in streamlining the mess management process. We have received numerous
                                testimonials from satisfied customers who have seen significant improvements in their mess
                                management operations since implementing our system. We are honored to have earned the trust and confidence of so
                                many users, and we are committed to continuing to deliver exceptional service
                                and support to everyone who uses our platform.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/social.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%- include('./partials/footer') %>